.btn{
    width: 90px;
}

h1{
    font: normal 24pt ;
    text-align: center;
    text-transform: uppercase;
}
h2{
    font: normal 20pt;
    color: white;
}
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 400px;
    perspective: 1000px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 40px;
    display: inline-block;
}
.flip-card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
    transform: rotateY(-180deg);
}
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.flip-card-front {
    background-color: #000000;
    color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 14px; 
    display: flex;
  }
.flip-card-back {
    background-color: #000000;
    color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 14px; 
    display: flex;
    transform: rotateY(180deg);
}
.logo_git{
    height: 150px;
    width: 150px;
}
a{
    margin-top: 20px;
}

img#nav{
    border-radius: 50px;
    margin-left: 30px;
    margin-top: -10px;
}
h1{
    font: normal 14pt Arial;
    color:white;
}